@page
@model Breaddit.Models.Comment

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dislikes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dislikes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
    </dl>
</div>

