@page
@model Breaddit.Models.Post

<div class="post-container">
    <div class="header-container">
        <div class="spacer"/>

        @* username *@

        <div class="spacer"/>

        @* title *@

        <div class="spacer"/>

        @* slice name *@

        <div class="spacer"/>
    </div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SliceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SliceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dislikes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dislikes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
    </dl>
</div>